p{
    text-align: left;
}
p h3{
    text-align:center;
}
.container{
    padding: 20px;
}


.table{
    width:100%;
    height: auto;
}
.row{
    width:100%;
    height:auto;
    display: inline-block;
}
.data{
    width:30%;
    height: auto;
    float:left;
    border:1px solid black;
    padding:10px;
    text-align:center;
}
@media screen and (max-width:1000px){
    .data{
        height:80px;
    }
}