*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    height: 400px;
    display: inline-block;
}
.row .unit{
    float: left;
    width:23%;
    height: 98%;
    margin: 1%;
    border-radius: 20px;
    border: 1px solid black;
}